<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709818571440-7aqa46gv6orun9imvm9dsg7bkhvcjs3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709818571440-7aqa46gv6orun9imvm9dsg7bkhvcjs3f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>709818571440-5k62lpm2jabhq6ash1aak83falf7e0us.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY_74f4-bSXKMEZkzYFMr3-nGxVpVmyWU</string>
	<key>GCM_SENDER_ID</key>
	<string>709818571440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amazyapp.amaz</string>
	<key>PROJECT_ID</key>
	<string>amazcart-341610</string>
	<key>STORAGE_BUCKET</key>
	<string>amazcart-341610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709818571440:ios:9f23c661abf42b2c9c3975</string>
</dict>
</plist>